<form action="/guardar" method="POST">
  <textarea id="texto" name="note" rows="10" cols="50"></textarea>
  <div class="botones">
    <button type="submit">Guardar</button>
    <a href="/cargar">Cargar</a>
    <a href="/borrar">Borrar</a>
  </div>
</form>
