<!DOCTYPE html>
<html>
<head>
  <title>Bloc de Notas Ultimate</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Bloc de Notas-Anamnesis</h1>
  <div class="nota">
    <textarea id="texto" rows="10" cols="50"></textarea>
    <div class="botones">
      <button id="guardar">Guardar</button>
      <button id="cargar">Cargar</button>
      <button id="borrar">Borrar</button>
    </div>
  </div>

  <script src="script.js"></script>

  <section>
  <img src="vivir_psicologia" alt="Ps Educativa" width="400px" height="200px"/>
  </section>
</body>

<footer class="footer">
  <div>  
  <img src="pensarenpsicologia.jpg" alt="imagen" width="100%" height="100%"/>  
  </div>
  <h2>"La sonrisa, es lo que mejor te queda"</h2>
</footer>
</html>
