<!DOCTYPE html>
<html>
<head>
  <title>Bloc de Notas Ultimate</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1 style="color: blue; background-color: yellow">Bloc de Notas de Ger</h
  <div class="nota">
    <textarea id="texto" rows="10" cols="50"></textarea>
    <div class="botones">
      <button id="guardar">Guardar</button>
      <button id="cargar">Cargar</button>
      <button id="borrar">Borrar</button>
    </div>
  </div>

  <script src="script.js"></script>

  <section>
  <img src="vivir_psicologia.jpg" alt="Ps Educativa" width="200px" height="100px"/>
  </section>
</body>

  <footer style="text-align: center; background-color: rgb(16, 211, 81); color: white">
    <h2>"Tu sonrisa es lo que mejor te queda"</h2>
    <p><a href="https://instagram.com/tu_usuario" target="_blank">Instagram</a> | <a href="https://facebook.com/tu_usuario" target="_blank">Facebook</a></p>
    <p>Sigueme en redes sociales</p>
  </footer>

</html>
