<!DOCTYPE html>
<html lang="es"> 
<head>
  <title>APPdeNotasUltimate</title> 
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <h1>"APP de Notas de Ger"</h1>

  <div class="nota">
    <textarea id="texto" rows="10" cols="50"></textarea>
    <div class="botones">
      <button id="guardar">Guardar</button>
      <button id="cargar">Cargar</button>
      <button id="borrar">Borrar</button>
    </div>
  </div>

  <!--TODO separar seccion con linea horizontal(hr) con enlace a google site-->

  <h2>"Acerca de mi:"</h2>
  <p><small><a href="https://sites.google.com/d/11Y4qrtDgssjxR_O3XbC0T088BZZ7QwFD/p/1BMbRaOV-dupyz7muCZoXkokPjuosQHA5/edit" target="_blank">Enlace a Google Sites</a></small><p></p>

 

  <footer style="text-align: center; background-color: rgb(16, 211, 81); color: white">
    <h2>"Tu sonrisa es lo que mejor te queda"</h2>
    <p><a href="https://instagram.com/tu_usuario" target="_blank">Instagram</a> | <a href="https://facebook.com/tu_usuario" target="_blank">Facebook</a></p>
  </footer>

  <script src="script.js"></script>
</body>

</html>
